img {
    border-radius: 10px; /* Adjust the radius value to control the roundness of corners */
  }
  img {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Adjust values for the shadow effect */
  }
  img.circular-image {
    border-radius: 50%;
  }
  
  
  
  
  
  